/* ReSharper disable once Html.AttributeNotResolved */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
    color: antiquewhite;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center-content {
    display: flex !important;
    justify-content: center !important;
}

.filter-block {
    background: #fafafa;
}

.filter-input-width {
    width: 260px !important;
}

.div-width-330 {
    width: 330px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-2 {
    margin-top: 2% !important;
}

.margin-bottom-2 {
    margin-top: 2%;
}

.margin-left-2 {
    margin-left: 2% !important;
}


.margin-left-5 {
    margin-left: 5% !important;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-top-5 {
    margin-top: 5% !important;
}

.margin-top-10 {
    margin-top: 5%;
}

.margin-left-20 {
    margin-top: 20%;
}

.margin-top-50 {
    margin-top: 60px;
}

.margin-left-110 {
    margin-left: 110px !important;
}

.center-align {
    text-align: center;
}
/*Game styles*/

.game-btn {
    cursor: pointer;
}

    .game-btn:hover, .game-btn:active {
        background-color: whitesmoke;
    }

.remove-btn {
    padding: 3px;
}

    .remove-btn:hover, .remove-btn:active {
        background-color: silver;
        border: 1px solid gray;
        border-radius: 3px;
    }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
