
@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
        <script src="~/js/Controllers/orderController.js"></script>
        <script src="~/js/Services/orderService.js"></script>
    </environment>
}
<div class="container ng-cloak" style="margin-top:5%;" ng-controller="orderController" ng-init="getGamesFromBucket('@User.Identity.Name')">
    <toaster-container></toaster-container>
    <div class="row">
        <div class="col-md-7">
            <div class="row" ng-model="bucketGame">
                <div class="col-xs-12 ui error message" ng-repeat="bucketGame in GamesFromBucket" style="margin-top:5%;">
                    <div class="col-lg-4">
                        <img class="ui medium rounded image" ng-src={{bucketGame.Photo}} height="200" width="150" />
                    </div>
                    <div class="col-lg-8 pull-right">
                        <strong> Game: {{bucketGame.Name}} </strong>

                        <p class="ui info message">
                            <strong> Description: </strong>
                            {{bucketGame.Description}}
                        </p>
                        <div class="ui tag labels">
                            <a class="ui label">
                                ${{bucketGame.Price}}
                            </a>
                        </div>
                        <a class="btn-lg pull-right" ng-click="deleteGameFromBucket('@User.Identity.Name',bucketGame.GameId)"> <i class="glyphicon glyphicon-trash"></i> </a>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4 col-md-offset-1" style="margin-top:3%;">
            <div>

                <div class="column">
                    <h3 class="ui top attached centered error message" style="text-align:center">

                        <strong>
                            Info about order
                        </strong>
                    </h3>
                    <div class="ui buttom attached segment info message">
                        <div class="row">
                            <div class="col-lg-12" style="text-align:center;">

                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui basic blue button">
                                        <i class="fork icon"></i> Count
                                    </div>
                                    <a class="ui basic left pointing blue label">
                                        {{CommonItem}}
                                    </a>
                                </div>
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui red button" ng-click="confirmOrder('@User.Identity.Name')">
                                        <i class="shop icon"></i> Confirm
                                    </div>
                                    <a class="ui basic red left pointing label" >
                                        ${{CommonPrice}}
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</div>