@using GSP.Domain.Customers

@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/orderController.js"></script>
        <script src="~/js/Services/orderService.js"></script>
    </environment>
}

<div class="container ng-cloak margin-top-2" ng-controller="orderController" ng-init="@(User.IsInRole(Role.User.ToString()) ? $"getCustomerOrders('{User.Identity.Name}')" : "getAllOrders()")">
    <toaster-container></toaster-container>

    <div class="col-lg-4">
        <div class="row">
            <div>
                <div class="list-group" ng-model="customerOrder">
                    
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" items-per-page="itemsPerPage" ng-click="filterGames();" next-text="->" previous-text="<-"></ul>

                    <div ng-click="selectOrder(customerOrder.Games,customerOrder.OrderId)" ng-repeat="customerOrder in Orders" class="list-group-item game-btn">
                        <div class="row">
                            <div class="col-lg-10">
                                <span>Customer: {{ customerOrder.Customer }} </span><br/>
                                <span>Count game in Order: {{customerOrder.Games.length}}</span><br/>
                                <span >Complete date: {{customerOrder.Date}}</span>
                            </div>
                            <div class="col-lg-2">
                                @if (User.IsInRole(Role.Admin.ToString()))
                                {
                                    <span ng-click="deleteOrder(customerOrder.OrderId)" class="glyphicon glyphicon-trash pull-right remove-btn"></span>
                                }
                            </div>
                        </div>
                    </div>

                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" items-per-page="itemsPerPage" ng-click="filterGames();" next-text="->" previous-text="<-"></ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1">
        <div class="form-group">
            <div class="col-md-12">
                <div class="row" ng-model="orderGame">
                    <div class="col-xs-12 ui error message" ng-repeat="orderGame in GameFromOrder">
                        <div class="col-lg-4">
                            <img class="ui medium rounded image" ng-src={{orderGame.PhotoData}} height="200" width="150" />
                        </div>
                        <div class="col-lg-8 pull-right">
                            <strong> Game: {{orderGame.Name}} </strong>

                            <p class="ui info message">
                                <strong> Description: </strong>
                                {{orderGame.Description}}
                            </p>
                            <div class="ui tag labels">
                                <a class="ui label">
                                    ${{orderGame.Price}}
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
