@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
    </environment>
}

<form method="post" asp-action="AddGame" asp-controller="Game" enctype="multipart/form-data">
    <div class="container ng-cloak form-horizontal" ng-controller="gameController" ng-model="game" ng-init="getCategories()">
        <toaster-container></toaster-container>
        <div class="col-md-6 col-md-offset-3 margin-top-1">
            <h2 class="center-align">Add Game Form</h2>

            <div class="form-group">
                <label class="col-sm-3 control-label">Game Name</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="Name" name="Name" placeholder="Full Name" class="form-control" autofocus required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                    <select ng-model="categor" class="form-control" name="CategoryId" init-select>
                        <option ng-repeat="categor in category" value="{{categor.CategoryId}}">
                            {{categor.Name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="Description" name="Description" required> </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Price</label>
                <div class="col-sm-9">
                    <div class="ui right labeled input" style="margin-bottom:2%;margin-top:2%;">
                        <div class="ui label">$</div>
                        <input type="text" ng-model="Price" class="" style="width:205px;" placeholder="Amount..." name="Price" required>
                        <div class="ui basic label">.00</div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Photo</label>
                <div class="col-sm-9">
                    <input class="ui basic button form-control" type="file" name="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <button type="submit" class="ui primary button form-control">Add Game</button>
                </div>
            </div>
        </div>
    </div>

</form>

