@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .form-control {
        padding-left: 3%;
    }
</style>

@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
    </environment>
}
<style>
    .editInput {
        width: 200px;
    }

    .alert {
        margin-right: 15px;
    }

    .userDivButton {
        cursor: pointer;
    }

        .userDivButton:hover, .userDivButton:active {
            background-color: whitesmoke;
        }

    .removeUserDivButton {
        padding: 3px;
    }

        .removeUserDivButton:hover, .removeUserDivButton:active {
            background-color: silver;
            border: 1px solid gray;
            border-radius: 3px;
        }
</style>



<div class="container ng-cloak" ng-controller="gameController" ng-init="getGame()" style="margin-top:5%;">
    <toaster-container></toaster-container>
    <div class="col-lg-4">
        <div class="row">
            <div style="margin-top: 5%">
                <div class="form-group">
                    <button class="ui primary button pull-right" ng-click="getGame()">
                        Show All
                    </button>
                    <div class="list-group" ng-model="game">
                        <div class="ui icon input">
                            <input ng-model="searchValue" ng-change="getGameByName(searchValue)" type="text" placeholder="Search...">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>

                    <div ng-click="selectGame(game)" ng-repeat="game in Games" class="list-group-item userDivButton">
                        <div class="row">
                            <div class="col-lg-10">
                                <span>Game: {{ game.Name }} Category: {{game.Category}}</span><br />
                                <span style="font-size: 0.85em">Price {{game.Price}}</span>
                            </div>
                            <div class="col-lg-2">
                                <span ng-click="deleteGame(game.GameId)" class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group">
            <div class="col-lg-offset-6 ui info message pull-right" style="margin-top:10%;margin-right:0px;width:330px;">

                Name: <input class="form-control" ng-model="EditName" type="text" />
                Description: <textarea class="form-control" ng-model="EditDescription"> </textarea>
                Price: <br />
                <div class="ui right labeled input" style="margin-bottom:2%;margin-top:2%;">
                    <div class="ui label">$</div>
                    <input style="width:205px;" ng-model="EditPrice" type="text" placeholder="Amount">
                    <div class="ui basic label">.00</div>
                </div>
                <button class="primary ui button form-control" ng-click="editGame()">Edit</button>

            </div>
        </div>
    </div>


</div>
