
@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/orderController.js"></script>
        <script src="~/js/Services/orderService.js"></script>
    </environment>
}


<div class="container ng-cloak" ng-controller="orderController" ng-init="getCustomerGames('@User.Identity.Name')" style="margin-top:5%;">
    <toaster-container></toaster-container>

    <div class="row">

        <div class="col-lg-12">
            <div style="" class="form-group">
                <div class="row" style="margin-top:3%;margin-left:5%;">
                    <div class="ui four column grid">
                        <div class="column" ng-repeat="game in CustomerGames">
                            <div class="ui card">
                                <div class="image">
                                    <img ng-src="{{game.Photo}}" alt="{{game.Photo}}">
                                </div>
                                <div class="content">
                                    <div class="header">{{game.Name}}</div>
                                    <div class="header">{{game.Category}}</div>
                                    <div class="description">
                                        <p>
                                            {{game.Description}}
                                            <div class="pull-right">
                                                <div class="ui tag labels" style="display:inline-block;">
                                                    <a class="ui label">
                                                        ${{game.Price}}
                                                    </a>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="ui two bottom attached buttons">
                                    <div class="ui button">
                                        <i class="add to cart icon"></i>
                                        Load
                                    </div>
                                    <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                        Watch
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ui popup">
                        <div class="header">User Rating</div>
                        <div class="ui star rating" data-rating="3"></div>
                    </div>

                </div>

            </div>
        </div>


    </div>

</div>