@using GSP.Domain.Customers
@section scripts {
    <script src="~/js/Controllers/categoryController.js"></script>
    <script src="~/js/Services/categoryService.js"></script>
    <script src="~/js/Controllers/gameController.js"></script>
    <script src="~/js/Services/gameService.js"></script>
    <script src="~/js/Controllers/orderController.js"></script>
    <script src="~/js/Services/orderService.js"></script>
    <script src="~/js/Services/rateService.js"></script>
    <script src="~/js/Controllers/rateController.js"></script>
}

<div ng-controller="orderController" class="ng-cloak margin-top-2">
    @{
        if (User.IsInRole(Role.User.ToString()))
        {
            <div ng-init="createOrder('@User.Identity.Name')">
            </div>
        }
    }

    @Html.Partial("_Games", true)
</div>


