@using GSP.Domain.Customers
@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
        <script src="~/js/Controllers/orderController.js"></script>
        <script src="~/js/Services/orderService.js"></script>
        <script src="~/js/Services/rateService.js"></script>
        <script src="~/js/Controllers/rateController.js"></script>
    </environment>
}
<style>
    .descriptionGame {
        overflow: hidden;
        height: 100px;
    }
</style>
<div ng-controller="orderController" class="ng-cloak">
    @{
        if (User.IsInRole(Role.User.ToString()))
        {
            <div ng-init="createOrder('@User.Identity.Name')">
            </div>
        }
    }
    <div class="container" ng-controller="gameController" ng-init="getGame();getCategory();" style="margin-top:5%;">
        <toaster-container></toaster-container>
        <div class="row">

            <div class="form-group" style="margin-top:1.5%">
                <div class="form-group ">
                    <div class="form-group">
                        <strong>Category Search:</strong>
                        <select ng-model="categor" class="form-control" style="display:inline-block;">
                            <option class="form-control" ng-repeat="categor in category">
                                {{categor.Name}}
                            </option>
                        </select>
                        <button class="ui circular twitter icon button" style="display:inline-block;margin-left:1%;" ng-click="getGameByCategory(categor)">
                            <i class="search icon"></i>
                        </button>
                        <button class="ui circular twitter icon button" style="display:inline-block;margin-left:0.2%;" ng-click="getGame()">
                            <i class="refresh icon"></i>
                        </button>

                        <div class="pull-right ui icon input">
                            <input type="text" placeholder="Search..." ng-model="searchValue" ng-change="getGameByName(searchValue)">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (User.IsInRole(Role.User.ToString()))
        {
            <div ng-controller="rateController" ng-init="getMostSaleGames();getMostRateGames();">
                <div class="row ui message info" style="margin-bottom:5%;">
                    <h2 class="ui header" style="text-align:center;">
                        Most Sales games
                    </h2>

                    <div class="ui five column grid" style="margin-top:0.5%;">

                        <div class="column" ng-repeat="mostSaleGame in MostSaleGames">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img ng-src="{{mostSaleGame.PhotoData}}" alt="{{mostSaleGame.PhotoData}}">
                                </div>
                                <div class="content">
                                    <div class="header" style="margin-bottom:1%;">{{mostSaleGame.Name}}</div>
                                    <div class="description">
                                        <p class="descriptionGame">{{mostSaleGame.Description}}</p>
                                        <div style="margin-left:65%;">
                                            <div class="ui red tag labels pull-right">
                                                <a class="ui label">
                                                    ${{mostSaleGame.Price}}
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ui two bottom attached buttons">
                                    <div class="ui button" ng-click="addToBucket('@User.Identity.Name',mostSaleGame.GameId)">
                                        <i class="add to cart icon"></i>
                                        Buy
                                    </div>
                                    <a class="ui primary button"
                                       ng-href="https://www.youtube.com/results?search_query={{mostSaleGame.Name}}">
                                        Watch
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ui message info" style="margin-bottom:5%;">
                    <h2 class="ui header" style="text-align:center;">
                        Most Rate games
                    </h2>

                    <div class="ui five column grid" style="margin-top:0.5%;">

                        <div class="column" ng-repeat="mostRateGames in MostRateGames">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img ng-src="{{mostRateGames.PhotoData}}" alt="{{mostRateGames.PhotoData}}">
                                </div>
                                <div class="content">
                                    <div class="header" style="margin-bottom:1%;">{{mostRateGames.Name}}</div>
                                    <div class="description">
                                        <p class="descriptionGame">{{mostRateGames.Description}}</p>
                                        <div style="margin-left:65%;">
                                            <div class="ui red tag labels pull-right">
                                                <a class="ui label">
                                                    ${{mostRateGames.Price}}
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ui two bottom attached buttons">
                                    <div class="ui button" ng-click="addToBucket('@User.Identity.Name',mostRateGames.GameId)">
                                        <i class="add to cart icon"></i>
                                        Buy
                                    </div>
                                    <a class="ui primary button"
                                       ng-href="https://www.youtube.com/results?search_query={{mostRateGames.Name}}">
                                        Watch
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }


        <div class="row">
            <div class="col-lg-12">
                <div style="" class="form-group">
                    <div class="ui four column grid">
                        <div class="column" ng-repeat="game in Games">
                            <div class="ui card">
                                <div class="image">
                                    <img ng-src="{{game.PhotoData}}" alt="{{game.PhotoData}}">
                                </div>
                                <div class="content">
                                    <div class="header" style="margin-bottom:1%;">{{game.Name}}</div>
                                    <div class="header">Genre:{{game.CategoryName}}</div>
                                    <div class="description">
                                        <p>
                                            {{game.Description}}
                                            <div style="display:block;" class="form-group">
                                                <a class="ui button basic"
                                                   ng-href="/Game/GameProfile?gameId={{game.GameId}}">More details...</a>
                                            </div>
                                            <div class="pull-right">
                                                <div class="ui red tag labels" style="display:inline-block;">
                                                    <a class="ui label">
                                                        ${{game.Price}}
                                                    </a>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="ui two bottom attached buttons">
                                    @if (User.IsInRole(Role.User.ToString()))
                                    {
                                        <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                            <i class="add to cart icon"></i>
                                            Buy
                                        </div>
                                    }
                                    <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                        Watch
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


