@section Scripts {
    <environment names="Development">
        <script src="~/js/Controllers/accountController.js"></script>
    </environment>
}

<div class="container ng-cloak" ng-controller="accountController" ng-model="account">
    <toaster-container></toaster-container>
    <div class="col-md-6 col-md-offset-3">
        <form  asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
            <h2 style="text-align:center;">Customer Registration Form</h2>
            <div class="form-group">
                <label class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" name="FullName" placeholder="Full Name" class="form-control" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="Email" placeholder="Email" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" name="Password" placeholder="Password" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Date of Birth</label>
                <div class="col-sm-9">
                    <input type="date" name="DateBirthsday" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                    <select class="form-control ui search dropdown" name="Country" ng-model="account.Country" required>
                            <option ng-repeat="itemCountry in country" value={{itemCountry}}>{{itemCountry}}</option>
                        </select>
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3 control-label">Language</label>
                <div class="col-sm-9">
                    <select ng-model="account.Language" name="Language" class="form-control ui search dropdown" required>
                        <option ng-repeat="itemLanguage in language" value={{itemLanguage}}>{{itemLanguage}}</option>
                    </select>
                </div>
            </div>
           <br />
           <br />
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" class="form-control ui button primary margin-left-5">Register</button>
                </div>
            </div>
        </form>
    </div>
</div> 